/* ================
    Global Styles
   ================ */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f1f5f8;
  color: #222;
  line-height: 1.5;
  font-size: 0.875rem;
}

h2,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: #617d98;
}

/* ================
    Menu Styles
   ================ */
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  padding: 5rem 0;
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background: #c59d5f;
  margin-left: auto;
  margin-right: auto;
}

/* Filter Buttons */
.btn-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.filter-btn {
  background: transparent;
  border-color: #c59d5f;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 0.375rem 0.75rem;
  color: #c59d5f;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.3s linear;
}

.filter-btn:hover {
  background: #c59d5f;
  color: #fff;
}

/* Menu Items Grid */
.section-center {
  display: grid;
  gap: 2rem;
  /* (responsive grid) */
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  .section-center {
    grid-template-columns: 1fr;
  }
}

.menu-item {
  display: grid;
  grid-template-columns: 225px 1fr;
  gap: 1.25rem;
  max-width: 40rem;
}

.photo {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border: 0.25rem solid #c59d5f;
  border-radius: 0.25rem;
}

.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted #617d98;
  padding-bottom: 0.5rem;
}

.item-info h4 {
  margin-bottom: 0;
}

.price {
  color: #c59d5f;
}

.item-text {
  padding-top: 1rem;
  margin-bottom: 0;
}
